/*style.css */
/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

/* Base styles */

body {
  font-family: 'Playfair Display', serif;
  font-size: 18px; 
  font-weight: 400;
  line-height: 1.4;
  color: #f4f2ff;
}

h1,
h2 {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #f4f2ff;
}

img {
  display: block;
  width: 100%;
}

/* nav */

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #2f3650;
  /*box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4); */
  z-index: 10;
  border-bottom: 4px solid #dc3a3d;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}

.nav-list a:hover {
  background: #dc3a3d;
}

/* Welcome section */

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #878c9b;
  
}

.welcome-section > p {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: #f4f2ff;
}

/* Exp section */

.exp-section{
  text-align: center;
  padding: 10rem 2rem;
  background-color: #2f3650;
  
}

.exp-section-header{
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid #f4f2ff; /*orane white */
}

/* Progess bar */

.percentage {
  position:absolute; 
  display:none; 
  top: 0; 
  line-height:30px; 
  right:10px;
}
.container {
    position: relative;
    width: 70%;
    height: 30px;
    background: #dc3a3d; /* fuzzy wuzzy brown */
    border-radius: 4px;
    margin: 10px auto;
    font-size: 25px; /*percentage */
    
    
}
.container:after { 
  position: absolute; 
  top:0; right: 10px;
  line-height: 30px;
}
.fillmult {
    height: 100%;
    width: 0;
    background-color: rgba(0,0,0,.5);
    border-radius: 4px;
    line-height: 30px;
    text-align: left;
    font-size: 25px; /* languages */
}
.fillmult span {
    padding-left: 10px;
}


/* Projects section */

.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background: #46ccd8;
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid #f4f2ff;
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

/* "Automagic" image grid using no media queries */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  background: #2f3650;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.code {
  color: #f4f2ff;
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: #dc3a3d;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.btn-show-all {
  font-size: 2rem;
  background: #303841;
  transition: background 0.3s ease-out;
}

.btn-show-all:hover {
  background: #dc3a3d;
}

.btn-show-all:hover > i {
  transform: translateX(2px);
}

.btn-show-all > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

/* Contact section */

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background: #878c9b;
}

.contact-section-header > h2 {
  font-size: 6rem;
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

.contact-section-header > p {
  font-style: italic;
}

.linkedin-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}

/* Footer */

footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: #2f3650;
  border-top: 4px solid #dc3a3d;
}

footer > p {
  margin: 2rem;
}

footer i {
  vertical-align: middle;
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}